---
layout: default
title: CC17
subtitle: Turma de Ciência da Computação
description: Bem vindo ao portal da turma de Ciência da Computação do ano de 2017, Universidade Federal de Alagoas - Campus Arapiraca. Aqui, reuniremos todas informações sobre a faculdade que cursamos (CC) com o objetivo de centralizar as informações e facilitar a organização da turma.
image: https://icon-icons.com/icons2/547/PNG/512/1455554363_line-25_icon-icons.com_53312.png
pagination: all
---

{% include banner.html %}

{% include index/features.html %}