<!-- section.banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>CC17</h1>

            <p>Turma de Ciência da Computação</p>
        </header>

        <p>Bem vindo ao portal da turma de Ciência da Computação do ano de 2017, Universidade Federal de Alagoas - Campus Arapiraca. Aqui, reuniremos todas informações sobre a faculdade que cursamos (CC) com o objetivo de centralizar as informações e facilitar a organização da turma.</p>

        <!-- <ul class="actions">
            <li><a href="#" class="button big">Learn More</a></li>
        </ul> -->
    </div>

    <span class="image object">
        <img src="https://icon-icons.com/icons2/547/PNG/512/1455554363_line-25_icon-icons.com_53312.png" alt="" />
    </span>
</section>
<!-- /section.banner -->