<!-- section -->
<section>
    <header class="major">
        <h2>Recursos</h2>
    </header>

    <!-- div.features -->
    <div class="features">
        <article>
            <span class="icon fa-calendar"></span>

            <!-- div.content -->
            <div class="content">
                <h3>Cronograma</h3>

                <p>Cronograma de provas, seminários e trabalhos, com informações sobre os trabalhos e equipes e tudo sobre as provas futuras.</p>
            </div>
            <!-- /div.content -->
        </article>

        <article>
            <span class="icon fa-pencil"></span>

            <!-- div.content -->
            <div class="content">
                <h3>Correções de provas e exercícios</h3>

                <p>Provas e listas de exercícios terão a correção publicada mais rápida que o gabarito do Enem, permitindo àqueles que não se sairam bem estudar melhor.</p>
            </div>
            <!-- /div.content -->
        </article>

        <article>
            <span class="icon fa-comments-o"></span>

            <!-- div.content -->
            <div class="content">
                <h3>Comentários</h3>

                <p>Toda publicação poderá ser comentada pelos leitores, podendo retirar as dúvidas com os autores diretamente no site.</p>
            </div>
            <!-- /div.content -->
        </article>

        <article>
            <span class="icon fa-group"></span>

            <!-- div.content -->
            <div class="content">
                <h3>Construído em conjunto</h3>

                <p>Todo o conteúdo, assim como a ferramenta em si, será desenvolvido pelos próprios usuários, em conjunto, através do Github.</p>
            </div>
            <!-- /div.content -->
        </article>
    </div>
    <!-- /div.features -->
</section>
<!-- /section -->