<!-- section -->
<section>
    <header class="major">
        <h2>Erat lacinia</h2>
    </header>

    <!-- div.features -->
    <div class="features">
        <article>
            <span class="icon fa-diamond"></span>

            <!-- div.content -->
            <div class="content">
                <h3>Portitor ullamcorper</h3>

                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
            <!-- /div.content -->
        </article>

        <article>
            <span class="icon fa-paper-plane"></span>

            <!-- div.content -->
            <div class="content">
                <h3>Sapien veroeros</h3>

                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
            <!-- /div.content -->
        </article>

        <article>
            <span class="icon fa-rocket"></span>

            <!-- div.content -->
            <div class="content">
                <h3>Quam lorem ipsum</h3>

                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
            <!-- /div.content -->
        </article>

        <article>
            <span class="icon fa-signal"></span>

            <!-- div.content -->
            <div class="content">
                <h3>Sed magna finibus</h3>

                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
            <!-- /div.content -->
        </article>
    </div>
    <!-- /div.features -->
</section>
<!-- /section -->